{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<h1>Products</h1>
<a href={{ path('homepage') }}>home</a>

<span>Want to create <a href={{ path('product_new') }}>new item?</a></span>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock size</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <a href={{ path('product_item', {'id': product.id}) }}>
                        {{ product.name }}
                    </a>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
